<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">


  <test name="Test">
  
    <classes>
      <class name="com.qa.ebay.testcases.SignInPageTest"/>
      <class name="com.qa.ebay.testcases.HomePageTest"/>
      <class name="com.qa.ebay.testcases.RegistrationTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
